@import url(https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #474747;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #F0F0F0;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 63.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.page {
  padding: 0px 0.9375rem;
}

.page__body {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 0.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 35.5731225296%;
  grid-template-columns: auto 35.5731225296%;
}

.page__info {
  background: #E8E6F3;
  border-radius: 0px 20px 20px 0px;
  text-align: center;
}

.content-page__title {
  line-height: 1.2083333333;
  font-weight: 700;
  color: #000;
}

.content-page__location {
  line-height: 1.1666666667;
  color: #9A9A9A;
  font-weight: 400;
  display: inline-block;
}

.content-page__description {
  margin-bottom: 1rem;
}

.content-page__description p {
  line-height: 1.3333333333;
  font-weight: 400;
}

.content-page__price {
  line-height: 1.2222222222;
  font-weight: 700;
  color: #000;
}

.content-page__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.content-page__tag {
  background: #EEECF6;
  border-radius: 10px;
  line-height: 1.2222222222;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
}

.info-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-page__name {
  line-height: 1.2083333333;
  font-weight: 700;
  color: #000;
}

.info-page__type {
  line-height: 1.2222222222;
  font-weight: 400;
  color: #9A9A9A;
}

.info-page__contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-page__label {
  color: #9A9A9A;
  line-height: 1.2222222222;
  font-weight: 700;
}

.info-page__item {
  line-height: 1.2222222222;
  font-weight: 400;
  display: block;
}

.info-page__socilas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 1.25rem;
}

.info-page__link {
  border-radius: 50%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

@media (min-width: 65.125em) {
  .page {
    padding-top: 7.8125rem;
  }

  .page__body {
    margin-bottom: 6.25rem;
  }

  .page__content {
    padding-top: 2.75rem;
  }

  .page__content {
    padding-left: 2.75rem;
  }

  .page__content {
    padding-right: 2.75rem;
  }

  .page__content {
    padding-bottom: 9rem;
  }

  .content-page__title {
    font-size: 1.5rem;
  }

  .content-page__title {
    margin-bottom: 1rem;
  }

  .content-page__location {
    margin-bottom: 1rem;
  }

  .content-page__location {
    font-size: 1.125rem;
  }

  .content-page__description p {
    font-size: 1.125rem;
  }

  .content-page__description p:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .content-page__price {
    margin-bottom: 1.75rem;
  }

  .content-page__price {
    font-size: 1.125rem;
  }

  .content-page__tag {
    padding-left: 0.9375rem;
  }

  .content-page__tag {
    padding-right: 0.9375rem;
  }

  .content-page__tag {
    min-height: 3rem;
  }

  .content-page__tag {
    font-size: 1.125rem;
  }

  .info-page {
    padding-top: 3rem;
  }

  .info-page {
    padding-left: 1.25rem;
  }

  .info-page {
    padding-right: 1.25rem;
  }

  .info-page {
    padding-bottom: 3rem;
  }

  .info-page__name {
    margin-bottom: 1rem;
  }

  .info-page__name {
    font-size: 1.5rem;
  }

  .info-page__type {
    margin-bottom: 2.5rem;
  }

  .info-page__type {
    font-size: 1.125rem;
  }

  .info-page__label {
    margin-bottom: 1rem;
  }

  .info-page__label {
    font-size: 1.125rem;
  }

  .info-page__item {
    font-size: 1.125rem;
  }

  .info-page__item:not(:last-child) {
    margin-bottom: 1rem;
  }

  .info-page__socilas {
    gap: 1.75rem;
  }

  .info-page__link {
    width: 3.125rem;
  }

  .info-page__link {
    height: 3.125rem;
  }
}

@media (max-width: 20em) {
  .page {
    padding-top: 3.125rem;
  }

  .page__body {
    margin-bottom: 3.125rem;
  }

  .page__content {
    padding-top: 0.625rem;
  }

  .page__content {
    padding-left: 0.625rem;
  }

  .page__content {
    padding-right: 0.625rem;
  }

  .page__content {
    padding-bottom: 1.25rem;
  }

  .content-page__title {
    font-size: 1.125rem;
  }

  .content-page__title {
    margin-bottom: 0.5rem;
  }

  .content-page__location {
    margin-bottom: 0.625rem;
  }

  .content-page__location {
    font-size: 1rem;
  }

  .content-page__description p {
    font-size: 0.875rem;
  }

  .content-page__description p:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .content-page__price {
    margin-bottom: 1.25rem;
  }

  .content-page__price {
    font-size: 1rem;
  }

  .content-page__tag {
    padding-left: 0.5rem;
  }

  .content-page__tag {
    padding-right: 0.5rem;
  }

  .content-page__tag {
    min-height: 2.5rem;
  }

  .content-page__tag {
    font-size: 0.875rem;
  }

  .info-page {
    padding-top: 1.25rem;
  }

  .info-page {
    padding-left: 0.625rem;
  }

  .info-page {
    padding-right: 0.625rem;
  }

  .info-page {
    padding-bottom: 1.25rem;
  }

  .info-page__name {
    margin-bottom: 0.8125rem;
  }

  .info-page__name {
    font-size: 1.25rem;
  }

  .info-page__type {
    margin-bottom: 1.25rem;
  }

  .info-page__type {
    font-size: 1rem;
  }

  .info-page__label {
    margin-bottom: 0.625rem;
  }

  .info-page__label {
    font-size: 1rem;
  }

  .info-page__item {
    font-size: 0.875rem;
  }

  .info-page__item:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .info-page__socilas {
    gap: 0.9375rem;
  }

  .info-page__link {
    width: 1.875rem;
  }

  .info-page__link {
    height: 1.875rem;
  }
}

@media (max-width: 37.5em) {
  .page__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .page__info {
    border-radius: 1.25rem;
  }
}

@media (min-width: 20em) and (max-width: 65.125em) {
@supports (padding-top: clamp( 3.125rem , 1.0474376731rem  +  10.3878116343vw , 7.8125rem )) {
    .page {
      padding-top: clamp( 3.125rem , 1.0474376731rem  +  10.3878116343vw , 7.8125rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.0474376731rem  +  10.3878116343vw , 7.8125rem )) {
    .page {
      padding-top: calc(3.125rem + 4.6875 * (100vw - 20rem) / 45.125);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 1.7399584488rem  +  6.9252077562vw , 6.25rem )) {
    .page__body {
      margin-bottom: clamp( 3.125rem , 1.7399584488rem  +  6.9252077562vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 1.7399584488rem  +  6.9252077562vw , 6.25rem )) {
    .page__body {
      margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 45.125);
    }
}

@supports (padding-top: clamp( 0.625rem , -0.3168282548rem  +  4.7091412742vw , 2.75rem )) {
    .page__content {
      padding-top: clamp( 0.625rem , -0.3168282548rem  +  4.7091412742vw , 2.75rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , -0.3168282548rem  +  4.7091412742vw , 2.75rem )) {
    .page__content {
      padding-top: calc(0.625rem + 2.125 * (100vw - 20rem) / 45.125);
    }
}

@supports (padding-left: clamp( 0.625rem , -0.3168282548rem  +  4.7091412742vw , 2.75rem )) {
    .page__content {
      padding-left: clamp( 0.625rem , -0.3168282548rem  +  4.7091412742vw , 2.75rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , -0.3168282548rem  +  4.7091412742vw , 2.75rem )) {
    .page__content {
      padding-left: calc(0.625rem + 2.125 * (100vw - 20rem) / 45.125);
    }
}

@supports (padding-right: clamp( 0.625rem , -0.3168282548rem  +  4.7091412742vw , 2.75rem )) {
    .page__content {
      padding-right: clamp( 0.625rem , -0.3168282548rem  +  4.7091412742vw , 2.75rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , -0.3168282548rem  +  4.7091412742vw , 2.75rem )) {
    .page__content {
      padding-right: calc(0.625rem + 2.125 * (100vw - 20rem) / 45.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -2.1849030471rem  +  17.1745152355vw , 9rem )) {
    .page__content {
      padding-bottom: clamp( 1.25rem , -2.1849030471rem  +  17.1745152355vw , 9rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -2.1849030471rem  +  17.1745152355vw , 9rem )) {
    .page__content {
      padding-bottom: calc(1.25rem + 7.75 * (100vw - 20rem) / 45.125);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9587950139rem  +  0.8310249307vw , 1.5rem )) {
    .content-page__title {
      font-size: clamp( 1.125rem , 0.9587950139rem  +  0.8310249307vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9587950139rem  +  0.8310249307vw , 1.5rem )) {
    .content-page__title {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 45.125);
    }
}

@supports (margin-bottom: clamp( 0.5rem , 0.2783933518rem  +  1.108033241vw , 1rem )) {
    .content-page__title {
      margin-bottom: clamp( 0.5rem , 0.2783933518rem  +  1.108033241vw , 1rem );
    }
}

@supports not (margin-bottom: clamp( 0.5rem , 0.2783933518rem  +  1.108033241vw , 1rem )) {
    .content-page__title {
      margin-bottom: calc(0.5rem + 0.5 * (100vw - 20rem) / 45.125);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4587950139rem  +  0.8310249307vw , 1rem )) {
    .content-page__location {
      margin-bottom: clamp( 0.625rem , 0.4587950139rem  +  0.8310249307vw , 1rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4587950139rem  +  0.8310249307vw , 1rem )) {
    .content-page__location {
      margin-bottom: calc(0.625rem + 0.375 * (100vw - 20rem) / 45.125);
    }
}

@supports (font-size: clamp( 1rem , 0.944598338rem  +  0.2770083102vw , 1.125rem )) {
    .content-page__location {
      font-size: clamp( 1rem , 0.944598338rem  +  0.2770083102vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.944598338rem  +  0.2770083102vw , 1.125rem )) {
    .content-page__location {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 45.125);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7641966759rem  +  0.5540166205vw , 1.125rem )) {
    .content-page__description p {
      font-size: clamp( 0.875rem , 0.7641966759rem  +  0.5540166205vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7641966759rem  +  0.5540166205vw , 1.125rem )) {
    .content-page__description p {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 45.125);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.6604916898rem  +  1.3850415512vw , 1.5625rem )) {
    .content-page__description p:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , 0.6604916898rem  +  1.3850415512vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.6604916898rem  +  1.3850415512vw , 1.5625rem )) {
    .content-page__description p:not(:last-child) {
      margin-bottom: calc(0.9375rem + 0.625 * (100vw - 20rem) / 45.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0283933518rem  +  1.108033241vw , 1.75rem )) {
    .content-page__price {
      margin-bottom: clamp( 1.25rem , 1.0283933518rem  +  1.108033241vw , 1.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0283933518rem  +  1.108033241vw , 1.75rem )) {
    .content-page__price {
      margin-bottom: calc(1.25rem + 0.5 * (100vw - 20rem) / 45.125);
    }
}

@supports (font-size: clamp( 1rem , 0.944598338rem  +  0.2770083102vw , 1.125rem )) {
    .content-page__price {
      font-size: clamp( 1rem , 0.944598338rem  +  0.2770083102vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.944598338rem  +  0.2770083102vw , 1.125rem )) {
    .content-page__price {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 45.125);
    }
}

@supports (padding-left: clamp( 0.5rem , 0.3060941828rem  +  0.9695290859vw , 0.9375rem )) {
    .content-page__tag {
      padding-left: clamp( 0.5rem , 0.3060941828rem  +  0.9695290859vw , 0.9375rem );
    }
}

@supports not (padding-left: clamp( 0.5rem , 0.3060941828rem  +  0.9695290859vw , 0.9375rem )) {
    .content-page__tag {
      padding-left: calc(0.5rem + 0.4375 * (100vw - 20rem) / 45.125);
    }
}

@supports (padding-right: clamp( 0.5rem , 0.3060941828rem  +  0.9695290859vw , 0.9375rem )) {
    .content-page__tag {
      padding-right: clamp( 0.5rem , 0.3060941828rem  +  0.9695290859vw , 0.9375rem );
    }
}

@supports not (padding-right: clamp( 0.5rem , 0.3060941828rem  +  0.9695290859vw , 0.9375rem )) {
    .content-page__tag {
      padding-right: calc(0.5rem + 0.4375 * (100vw - 20rem) / 45.125);
    }
}

@supports (min-height: clamp( 2.5rem , 2.2783933518rem  +  1.108033241vw , 3rem )) {
    .content-page__tag {
      min-height: clamp( 2.5rem , 2.2783933518rem  +  1.108033241vw , 3rem );
    }
}

@supports not (min-height: clamp( 2.5rem , 2.2783933518rem  +  1.108033241vw , 3rem )) {
    .content-page__tag {
      min-height: calc(2.5rem + 0.5 * (100vw - 20rem) / 45.125);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7641966759rem  +  0.5540166205vw , 1.125rem )) {
    .content-page__tag {
      font-size: clamp( 0.875rem , 0.7641966759rem  +  0.5540166205vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7641966759rem  +  0.5540166205vw , 1.125rem )) {
    .content-page__tag {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 45.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.4743767313rem  +  3.8781163435vw , 3rem )) {
    .info-page {
      padding-top: clamp( 1.25rem , 0.4743767313rem  +  3.8781163435vw , 3rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.4743767313rem  +  3.8781163435vw , 3rem )) {
    .info-page {
      padding-top: calc(1.25rem + 1.75 * (100vw - 20rem) / 45.125);
    }
}

@supports (padding-left: clamp( 0.625rem , 0.3479916898rem  +  1.3850415512vw , 1.25rem )) {
    .info-page {
      padding-left: clamp( 0.625rem , 0.3479916898rem  +  1.3850415512vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , 0.3479916898rem  +  1.3850415512vw , 1.25rem )) {
    .info-page {
      padding-left: calc(0.625rem + 0.625 * (100vw - 20rem) / 45.125);
    }
}

@supports (padding-right: clamp( 0.625rem , 0.3479916898rem  +  1.3850415512vw , 1.25rem )) {
    .info-page {
      padding-right: clamp( 0.625rem , 0.3479916898rem  +  1.3850415512vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , 0.3479916898rem  +  1.3850415512vw , 1.25rem )) {
    .info-page {
      padding-right: calc(0.625rem + 0.625 * (100vw - 20rem) / 45.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.4743767313rem  +  3.8781163435vw , 3rem )) {
    .info-page {
      padding-bottom: clamp( 1.25rem , 0.4743767313rem  +  3.8781163435vw , 3rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.4743767313rem  +  3.8781163435vw , 3rem )) {
    .info-page {
      padding-bottom: calc(1.25rem + 1.75 * (100vw - 20rem) / 45.125);
    }
}

@supports (margin-bottom: clamp( 0.8125rem , 0.7293975069rem  +  0.4155124654vw , 1rem )) {
    .info-page__name {
      margin-bottom: clamp( 0.8125rem , 0.7293975069rem  +  0.4155124654vw , 1rem );
    }
}

@supports not (margin-bottom: clamp( 0.8125rem , 0.7293975069rem  +  0.4155124654vw , 1rem )) {
    .info-page__name {
      margin-bottom: calc(0.8125rem + 0.1875 * (100vw - 20rem) / 45.125);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1391966759rem  +  0.5540166205vw , 1.5rem )) {
    .info-page__name {
      font-size: clamp( 1.25rem , 1.1391966759rem  +  0.5540166205vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1391966759rem  +  0.5540166205vw , 1.5rem )) {
    .info-page__name {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 45.125);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.6959833795rem  +  2.7700831025vw , 2.5rem )) {
    .info-page__type {
      margin-bottom: clamp( 1.25rem , 0.6959833795rem  +  2.7700831025vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6959833795rem  +  2.7700831025vw , 2.5rem )) {
    .info-page__type {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 45.125);
    }
}

@supports (font-size: clamp( 1rem , 0.944598338rem  +  0.2770083102vw , 1.125rem )) {
    .info-page__type {
      font-size: clamp( 1rem , 0.944598338rem  +  0.2770083102vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.944598338rem  +  0.2770083102vw , 1.125rem )) {
    .info-page__type {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 45.125);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4587950139rem  +  0.8310249307vw , 1rem )) {
    .info-page__label {
      margin-bottom: clamp( 0.625rem , 0.4587950139rem  +  0.8310249307vw , 1rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4587950139rem  +  0.8310249307vw , 1rem )) {
    .info-page__label {
      margin-bottom: calc(0.625rem + 0.375 * (100vw - 20rem) / 45.125);
    }
}

@supports (font-size: clamp( 1rem , 0.944598338rem  +  0.2770083102vw , 1.125rem )) {
    .info-page__label {
      font-size: clamp( 1rem , 0.944598338rem  +  0.2770083102vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.944598338rem  +  0.2770083102vw , 1.125rem )) {
    .info-page__label {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 45.125);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7641966759rem  +  0.5540166205vw , 1.125rem )) {
    .info-page__item {
      font-size: clamp( 0.875rem , 0.7641966759rem  +  0.5540166205vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7641966759rem  +  0.5540166205vw , 1.125rem )) {
    .info-page__item {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 45.125);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.4587950139rem  +  0.8310249307vw , 1rem )) {
    .info-page__item:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.4587950139rem  +  0.8310249307vw , 1rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.4587950139rem  +  0.8310249307vw , 1rem )) {
    .info-page__item:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.375 * (100vw - 20rem) / 45.125);
    }
}

@supports (gap: clamp( 0.9375rem , 0.5773891967rem  +  1.8005540166vw , 1.75rem )) {
    .info-page__socilas {
      gap: clamp( 0.9375rem , 0.5773891967rem  +  1.8005540166vw , 1.75rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.5773891967rem  +  1.8005540166vw , 1.75rem )) {
    .info-page__socilas {
      gap: calc(0.9375rem + 0.8125 * (100vw - 20rem) / 45.125);
    }
}

@supports (width: clamp( 1.875rem , 1.3209833795rem  +  2.7700831025vw , 3.125rem )) {
    .info-page__link {
      width: clamp( 1.875rem , 1.3209833795rem  +  2.7700831025vw , 3.125rem );
    }
}

@supports not (width: clamp( 1.875rem , 1.3209833795rem  +  2.7700831025vw , 3.125rem )) {
    .info-page__link {
      width: calc(1.875rem + 1.25 * (100vw - 20rem) / 45.125);
    }
}

@supports (height: clamp( 1.875rem , 1.3209833795rem  +  2.7700831025vw , 3.125rem )) {
    .info-page__link {
      height: clamp( 1.875rem , 1.3209833795rem  +  2.7700831025vw , 3.125rem );
    }
}

@supports not (height: clamp( 1.875rem , 1.3209833795rem  +  2.7700831025vw , 3.125rem )) {
    .info-page__link {
      height: calc(1.875rem + 1.25 * (100vw - 20rem) / 45.125);
    }
}
}

@media (any-hover: hover) {
  .content-page__location:hover {
    text-decoration: underline;
  }

  .info-page__item:hover {
    text-decoration: underline;
  }
}